<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Управление складом</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <div class="nav-item px-3">
        <h4 style="color:white">Справочники</h4>

        <NavLink class="nav-link" href="clients">
            Клиенты
        </NavLink>

        <NavLink class="nav-link" href="units">
            Единицы измерения
        </NavLink>

        <NavLink class="nav-link" href="resources">
            Ресурсы
        </NavLink>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
